* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #111; 
    color: #fff;   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    background: #ab9a00; 
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #837600; 
}