body {
    font-family: "Verdana", sans-serif;
    text-align: center;
    background-color: #121212;
    color: #f1f1f1;
}

h1 {
    color: #bb86fc;
}

input {
    padding: 8px;
    margin: 10px;
    border: 1px solid #bb86fc;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: #fff;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    background-color: #bb86fc;
    color: #000;
    cursor: pointer;
}

button:hover {
    background-color: #9a67ea;
}

p {
    color: #ddd;
}
