body {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    background-color: #eafaf1;
}

h1 {
    color: #2ecc71;
}

input {
    padding: 6px;
    margin: 10px;
    border: 2px solid #27ae60;
    border-radius: 10px;
}

button {
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    background-color: #27ae60;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1e8449;
}

p {
    color: #145a32;
}
