body {
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    background-color: #f4f6f8;
}

h1 {
    color: #2c3e50;
}

input {
    padding: 8px;
    margin: 10px;
    border: 1px solid #3498db;
    border-radius: 8px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p {
    color: #2c3e50;
}
